*{
    margin: 0;
}

/* management */

.form-manage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table,tr,td,th{
    border: 1px solid black;
    border-collapse:collapse ;
}

td,th{
    padding: 20px;
}

.input-form input{
    padding: 10px 20px 10px 20px;
}

.input-form{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 42.3rem;
}

.input-form input{
    border: none;
    outline: none;
}

/* formpage */


.formpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.formpage .form-content{
    background-color: #800080;
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 350px;
}



.formpage .form-content .inside-form .title{
    margin-right: 40px;
   width: 300px;
}

.formpage .form-content .inside-form .input input{
    border: 1px solid black;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 300px;
}

.formpage .form-content button{
    background-color: rgb(60, 172, 238);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-weight: bold;
    width: 322px;
}

.formpage .form-content button:hover{
    background-color: rgb(41, 95, 204);
    
}
/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

nav div a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    text-transform: capitalize;
}


/* Master Page */

.master-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-size: 20px;
}

/* login form */

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.login-form form{
    background-color: #800080;
    padding: 80px 130px 100px 130px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-form form input{
    width: 250px;
    height: 32px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: none;
}

.login-form form .login-button button{
    width: 100%;
    height: 30px;
    background-color: #4394c7;
    color: white;
    border: none;
    border-radius: 20px;
}

.login-form form .login-button button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-form .title{
    text-align: center;
    color: white;
    font-size:30px;
    font-weight: bold;
}

.login-form .register-link{
    text-align: center;
}

.login-form .register-link a{
    color: white;
    font-size: medium;
}

.captcha{
    display: flex;
    flex-direction: column;
}

.captcha p{
    text-align: center;
    font-size: 20px;
    color: white;
}

.captcha button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
}

.captcha p span{
    text-decoration: line-through;
    user-select: none;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    width: 100%;
    gap: 15px;
}

.socialmedia-icons{
    font-size: 20px;
    display: flex;
    gap: 100px;
}

.copyright{
    display: flex;
    gap: 10px;
}


/* slider */

.slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideshowSlider{
    border-radius: 20px;
    height: 500px;
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    transition: ease 1000ms;
}

.slideshow .slideshowSlider .slide{
    height: 500px;
    width: 500px;
    transition: all 2s;
}

.slideshow .buttons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
/* login page */

.login-page{
    display: grid;  
    grid-template-columns: 1fr 1fr;
}

